<% @page_title = 'Application Error' %>

<div id="content">

<h1>Application Error</h1>

<div class="errorExplanation">
  <h2>Sorry, but the following error seem to have occurred:</h2>
  <pre><code><%= h(@exception) %></code></pre>
</div>



</div>