<% if HIDE_RELEASES %>
  <p>
    Note that <strong>Releases are hidden from the public UI</strong> due to
    a feature flag setting (<code>HIDE_RELEASES</code> is <code>true</code>).
    They were relevant for a CVS world, not a GitLab one. The administration
    UI is retained in case we find a new use for this in future.
  </p>
<% end %>
